asgiref==3.3.1
bleach==3.2.1
Django==3.1.4
django-ckeditor==6.0.0
django-classy-tags==2.0.0
django-cms==3.8.0
django-formtools==2.2
django-js-asset==1.2.2
django-markdownify==0.8.1
django-multiselectfield==0.1.12
django-pygments==0.4
django-sekizai==2.0.0
django-treebeard==4.3.1
djangocms-admin-style==2.0.2
Markdown==3.3.3
ordereddict==1.1
packaging==20.8
Pillow==8.0.1
Pygments==2.7.3
pyparsing==2.4.7
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
webencodings==0.5.1
