{% extends 'blog/base.html' %}
{% load static %}

{% block index_page %}
<div class="mt-2"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ object.title }}</h2>
                <article>
                    <address>
                        by
                        <a href="#">{{ object.writer_name }}</a>. Posted on {{ object.date }}
                    </address>
                </article>
                <hr>
                <p>{{ object.body | safe }}</p>
        </div>
        <div class="col-md-4 bg-light p-3" style='margin-top: 100px; padding-left: 10px;'>
            <h2>Related Blogs</h2>
            <!-- Post top 5 blogs related to this Blog -->
            <ul class="list-unstyled">
                {% for data in related_blog %}
                <li class='pt-3'>
                    <a class='h5 text-capitalize text-decoration-none text-dark' href="/%2F{{ data.slug }}/"
                        class="text-decoration-none">
                        {{ data.title }}
                    </a>
                    <p class="text-muted">{{ data.date }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock index_page %}
