{% extends 'blog/base.html' %}
{% load static %}

{% block blog_detail_page %}
<div class="mt-2"></div>
<div class="row">
    <div class="col-md-8">
        <h1>{{ object.title }}</h2>
            <article>
                <address>
                    by
                    <a href="#">{{ object.writer_name }}</a>. Posted on {{ object.date }}
                </address>
            </article>
            <hr>
            <p>{{ object.body | safe }}</p>
    </div>
    <div class="col-md-4 feature_blogs_sticky">
        <h2>Feature Blogs</h2>
        <!-- Post top 5 blogs related to this Blog -->
        <ul class="list-unstyled">
            {% for i in '12345'|make_list %}
            <li><a href="#" class="text-decoration-none">Blog-{{ forloop.counter }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock blog_detail_page %}
