{% extends 'blog/base.html' %}
{% load static %}

{% block index_page %}

<div class="container col-md-12">
    <h2>Freedom Speech</h2>
    <p>
        False ribs, between the gluteal muscles, rib, chest,
        ankle, elbow and ear region, frontal knee, foot, dorsal,
        shoulder blades, above and between, the hips and breast,
        nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes thigh, buttock, great
        toe, lowest part of foot, dorsal, shoulder blades, above
        toes false ribs, between the false ribs, between the
        false ribs, between teeth.
    </p>
    <!-- Change me -->
    <p>
        Breast bone, arm pit, belly button, muscular part of
        head, chest, ankle, elbow, ear, head, chest, breastbone,
        navel, belly, front of head, chest, ankle, elbow, ear
        region, nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes anterior region of
        upper arm pit, belly button, muscular part of teeth,
        chin, toes, heart false ribs, between the false ribs,
        between the false ribs, between teeth.
    </p>
    <!-- Change me -->
    <p>
        Gluteal muscles, rib, chest, ankle, elbow and ear
        region, frontal knee, foot, dorsal, frontal knee, foot,
        dorsal, shoulder blades, above and between, the hips and
        breast, nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes thigh, buttock, great
        toe, lowest part of foot, dorsal, shoulder blades, above
        toes false ribs, between the false ribs, between the
        false ribs, between teeth. False ribs, between the
        gluteal muscles, rib, chest, ankle, elbow and ear
        region, frontal knee, foot, dorsal, shoulder blades,
        above and between, the hips and breast, nose, back of
        body, tongue side of foot, dorsal, shoulder, blades,
        above and toes thigh, buttock, great toe, lowest part of
        foot, dorsal, shoulder blades, above toes false ribs,
        between the false ribs, between the false ribs, between
        teeth. False ribs, between the gluteal muscles, rib,
        chest, ankle, elbow and ear region, frontal knee, foot,
        dorsal, shoulder blades, above and between, the hips and
        breast, nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes thigh, buttock, great
        toe, lowest part of foot, dorsal, shoulder blades, above
        toes false ribs, between the false ribs, between the
        false ribs, between teeth.
    </p>
    <pre>
        <code class='python'>
            import bootstrap3
            
            class TextFormation:
            headings = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
            display_headings = ['display-1', 'display-3',
            'display-3', 'display-4', 'display-5', 'display-6']
            lead = 'lead'
            mark = 'mark'
            text_underline = 'text-decoration-underline'
            text_decoration_none = 'text-decoration-none'
            blockquote = "blockquote"
            blockquote_footer = 'blockquote-footer'
            text_alignment = {
                'start': 'text-start',
                'center': 'text-center',
            'end': 'text-end',
        }
        text_wrap = 'text-wrap'
        word_break = 'text-break' # make
        text_transformation = {
            'lower': 'text-lowercase',
            'upper': 'text-uppercase',
            'capital': 'text-capitalize',
        }
            font_size = ['fs-1', 'fs-2', 'fs-3',
            'fs-4', 'fs-5', 'fs-6'] # big to small
            font_weight = {
                'bold': 'fw-bold',
            'normal': 'fw-normal',
            'italic': 'fst-italic',
            'light': 'fw-light'
        }
        line_height = 'lh-base' # normal style

        
        class BackGround:
        pass
    </code>
    </pre>
    <p>
        Gluteal muscles, rib, chest, ankle, elbow and ear
        region, frontal knee, foot, dorsal, frontal knee, foot,
        dorsal, shoulder blades, above and between, the hips and
        breast, nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes thigh, buttock, great
        toe, lowest part of foot, dorsal, shoulder blades, above
        toes false ribs, between the false ribs, between the
        false ribs, between teeth. False ribs, between the
        gluteal muscles, rib, chest, ankle, elbow and ear
        region, frontal knee, foot, dorsal, shoulder blades,
        above and between, the hips and breast, nose, back of
        body, tongue side of foot, dorsal, shoulder, blades,
        above and toes thigh, buttock, great toe, lowest part of
        foot, dorsal, shoulder blades, above toes false ribs,
        between the false ribs, between the false ribs, between
        teeth. False ribs, between the gluteal muscles, rib,
        chest, ankle, elbow and ear region, frontal knee, foot,
        dorsal, shoulder blades, above and between, the hips and
        breast, nose, back of body, tongue side of foot, dorsal,
        shoulder, blades, above and toes thigh, buttock, great
        toe, lowest part of foot, dorsal, shoulder blades, above
        toes false ribs, between the false ribs, between the
        false ribs, between teeth.
    </p>
    
    <ul>
        <li>
            <p class="user-select-all">
                This paragraph will be entirely selected when
                clicked by the user.
            </p>
        </li>
        <li>
            <p class="user-select-auto">
                This paragraph has default select behavior.
            </p>
        </li>
        <li>
            <p class="user-select-none">
                This paragraph will not be selectable when
                clicked by the user.
            </p>
        </li>
    </ul>
    
    <p>" The Master of Wisdom "</p>
    <div class="ratio ratio-16x9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/fp0WtIGXVoU" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
</div>
<!-- <p>Image File</p>
    <br>
    <img style="width: 300px; height:200px;" src="{% static 'blog/img/light.jpg' %}" alt="">
    
<script>
    sayHello("Nahid");
    document.write("<br>");
    sayHello("Mahin");
</script> -->

{% endblock index_page %}