{% extends 'blog/base.html' %}
{% load static %}

{% block index_page %}

<!-- font-family: "euclid_circular_a","Source Sans Pro","Helvetica Neue","Helvetica"; -->
<!-- color: #25265e -->

<!-- h1 -->
<!-- line-height: 36px -->
<!-- font-size: 24px -->
<!-- margin-bottom: 20px; -->
<!-- max-width: 350px -->


<div class="container col-md-12">
    <div class="row">
        <div class="col-md-5" style="max-width: 570px; max-height: 100%">
            <h1 style="color: #25265e; font-family: verdana,sans-serif;" class='display-6 font-weight-bold'>Learn to
                Code for Free</h1>
            <br>
            <p style="font-family: verdana; color: rgba(37,38,94,0.7); ">Learn to code with our
                beginner-friendly tutorials and examples. Read tutorials, try examples, write programs, and learn to
                code</p>
            <br>
            <lead style="color: rgba(37,38,94,0.7)" class='font-weight-bold'>Get the latest tutorials and updates!</>
                <form class="form-inline mt-4">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter email">
                        <button type="submit" class="btn btn-primary zoom"
                            style="padding: 10px; margin-left: 10px;">Submit</button>
                    </div>
                    <small id="emailHelp" class="form-text text-muted mt-1">We'll never share your email with anyone
                        else.</small>
                </form>
        </div>
        <div class="col-md-7" style="max-height: 100%;">
            <img src="{% static 'blog/img/home.jpg' %}" alt="" class='img-fluid'>
        </div>
    </div>
    <div class="gap-3">
        <br><br>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="color: #25265e; font-family: verdana,sans-serif;" class=' font-weight-bold'>Choose what to learn
            </h4>
            <p style="font-family: verdana; color: rgba(37,38,94,0.7); max-width: 120px" class="text-left">Start
                Learning popular programming languages.
            </p>
        </div>
        <div class="col-md-2 py-2">
            <div class="card zoom">
                <a href="#" class="text-decoration-none">
                    <div class="card-body">
                        <i class="fab fa-python fa-3x" style="color: blue; "></i>
                        <br><br>
                        <h5 style="color: #25265e; font-family: 'Trebuchet MS';" class="font-weight-bold">Python
                            Programming</h5>
                        <lead class="pt-1 mb-0">Learn <i class="fas fa-arrow-right"></i></lead>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-2 py-2">
            <div class="card zoom">
                <a href="#" class="text-decoration-none">
                    <div class="card-body">
                        <i class="fab fa-java fa-3x" style="color: blue; "></i>
                        <br><br>
                        <h5 style="color: #25265e; font-family: 'Trebuchet MS';" class="font-weight-bold">Java
                            Programming</h5>
                        <lead class="pt-1 mb-0">Learn <i class="fas fa-arrow-right"></i></lead>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 py-2">
            <div class="card zoom">
                <a href="#" class="text-decoration-none">
                    <div class="card-body">
                        <i class="fab fa-cuttlefish fa-3x font-weight-bold" style="color: blue;">++</i>
                        <br><br>
                        <h5 style="color: #25265e; font-family: 'Trebuchet MS';" class="font-weight-bold">C++
                            Programming</h5>
                        <lead class="pt-1 mb-0">Learn <i class="fas fa-arrow-right"></i></lead>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 py-2 zoom">
            <div class="card">
                <a href="#" class="text-decoration-none">
                    <div class="card-body">
                        <i class="fab fa-js fa-3x" style="color: blue; "></i>
                        <br><br>
                        <h5 style="color: #25265e; font-family: 'Trebuchet MS';" class="font-weight-bold">JavaScript
                            Programming</h5>
                        <lead class="pt-2 mb-1">Learn <i class="fas fa-arrow-right"></i></lead>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="gap-3">
        <br><br>
    </div>
    <div class="row position-relative">
        <div class="col-md-7" style="max-height: 100%;" class="position-absolute top-0 start-0">
            <img src="{% static 'blog/img/compiler.png' %}" alt="" class='img-fluid'>
        </div>
        <br>
        <div class="col-md-5 text-left position-absolute top-50 end-0 translate-middle-y">
            <div style="width: 100%">
                <h3 style="color: #25265e; font-family: verdana,sans-serif;" class=' font-weight-bold gap-3'>Online
                    Python
                    Compiler
                </h3>
                <p class="gap-3">Get started with Python in no time. Now you can write and run Python code online in
                    your browser.</p>
                <button type="button" class="btn btn-primary gap-3 zoom">Run Python Online</button>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<hr>

{% endblock index_page %}