{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


<h1 class="mt-4">Simple Sidebar</h1>

<!-- Author -->
<p class="lead">
    by
    <a href="#">Start Bootstrap</a>
</p>

<hr>

<!-- Date/Time -->
<p>Posted on January 1, 2019 at 12:00 PM</p>


<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-colla
    psed on larger screens. When toggled using the button below, the menu will change.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar i
    s optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which wi
    ll toggle the menu when clicked.</p>
<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-colla
    psed on larger screens. When toggled using the button below, the menu will change.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar i
    s optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which wi
    ll toggle the menu when clicked.</p>
<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-colla
    psed on larger screens. When toggled using the button below, the menu will change.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar i
    s optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which wi
    ll toggle the menu when clicked.</p>
<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-colla
    psed on larger screens. When toggled using the button below, the menu will change.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar i
    s optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which wi
    ll toggle the menu when clicked.</p>
<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-colla
    psed on larger screens. When toggled using the button below, the menu will change.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar i
    s optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which wi
    ll toggle the menu when clicked.</p>
</div>

<!-- <p>Image File</p>
<br>
<img style="width: 300px; height:200px;" src="{% static 'blog/img/light.jpg' %}" alt="">

<script>
    sayHello("Nahid");
    document.write("<br>");
    sayHello("Mahin");
</script> -->

{% endblock content %}